pkgbase = lg-gram-manager
	pkgdesc = GTK4 GUI for LG Gram laptop features: reader mode, FN lock, fan mode, battery limit, LEDs
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/bryfur/lg-gram-manager
	install = lg-gram-manager.install
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = polkit
	source = lg-gram-manager-1.1.2.tar.gz::https://github.com/bryfur/lg-gram-manager/archive/refs/tags/1.1.2.tar.gz
	sha256sums = 7e2bc78c593856acb8aa2ea712304880d0fe69afe450c4408defe1cf09e577c4

pkgname = lg-gram-manager
