pkgbase = lg-gram-manager
	pkgdesc = GTK4 GUI for LG Gram laptop features: reader mode, FN lock, fan mode, battery limit, LEDs
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/bryfur/lg-gram-manager
	install = lg-gram-manager.install
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = polkit
	source = lg-gram-manager-1.1.1.tar.gz::https://github.com/bryfur/lg-gram-manager/archive/refs/tags/1.1.1.tar.gz
	sha256sums = 125855fb6998e9ff92659b7a2a5677e7c2c328f9bd37667ab2b750da95da4fda

pkgname = lg-gram-manager
